<div id="game-container">
  <app-door
    [isKnocking]="isKnocking"
    (knock)="knock()"
  >
    <!-- Joke Menu Popup -->
    <app-joke-menu
      *ngIf="gameState === GameState.Menu"
      [jokes]="jokes"
      (selectJoke)="chooseJoke($event)"
    ></app-joke-menu>

    <!-- Question Popup -->
    <app-joke-question
      *ngIf="gameState === GameState.Question"
      [question]="questionText"
      (continue)="showFinalPunchline()"
    ></app-joke-question>

    <!-- Punchline Popup -->
    <app-joke-punchline
      *ngIf="gameState === GameState.Punchline"
      [punchline]="punchlineText"
    ></app-joke-punchline>
  </app-door>
</div>
